html{
  background: url(./imgs/circuit.png) ; 
}
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  height: 100%;
  width: 100vw;
}
* {
  font-family: "Lato", sans-serif;
}
#button-item {
  padding: 0
}
.visitCard1 {
  padding-bottom: .25rem;
  border: 5px solid hsl(0, 0%, 96%)
}
.visitCard-info {
  padding-bottom: .25rem;
  border: 5px solid hsl(204, 86%, 53%)
}
.visitCard-success {
  padding-bottom: .25rem;
  border: 5px solid hsl(141, 71%, 48%)
}
.visitCard-danger {
  padding-bottom: .25rem;
  border: 5px solid hsl(348, 100%, 61%)
}
.navbar{
  margin-bottom: 1rem;
}
#profileContaier {
  padding-top: auto;
  padding-bottom: auto
}
#calendarLevel{
  background-color: rgba(0, 0, 0, 0);
}
#calendar{
  opacity: 1;
}
#logo{
  font-family: "Modak";
  font-size: 2em
}
/* #logo-img{

} */
/* #levelWords{
  font-family: monospace
} */